<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

    <title>Admin panel</title>
</head>
<body>
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-2" href="/admin" id="user">
        <span class="font-weight-bold" id="headerUsername"></span>
        <span class="font-weight-normal"> with roles: </span>
        <span class="font-weight-normal" id="headerRoles"></span>
    </a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-right">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
    </ul>
</nav>
</br>
</br>
<div class="container-fluid">
    <div class="row">
        <div class="col-2 p-0">
            <div class="bg-white vh-100">
                <nav class="nav nav-pills nav-fill nav flex-column mt-3">
                    <a class="nav-link active" data-toggle="tab" href="#adminPanel">Admin</a>
                    <a class="nav-link " data-toggle="tab" href="#userPanel">User</a>
                </nav>
            </div>
        </div>

        <div class="col-sm-10 height: 1200 px" style="height: 1000px; background: #F7F7F7">
            <div class="tab-content">

                <div class="tab-pane fade show active" id="adminPanel">
                    <div class="row">
                        <div class="col-sm-12 p-3">
                            <!-- Admin panel -->
                            <h1>Admin panel</h1>
                            <div class="col">
                                <ul class="nav nav-tabs">
                                    <li class="nav-item">
                                        <a class="nav-link active fade-in" data-toggle="tab" id="allUsersTable" href="#allUsers">Users table</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link fade-in" data-toggle="tab" href="#newUser">New User</a>
                                    </li>
                                </ul>

                                <div class="tab-content">
                                    <div class="tab-pane fade show active" id="allUsers">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4 class="card-title br-light">All Users</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="tab-content table-responsive">
                                                    <table class="table table-striped table-sm">
                                                        <thead>
                                                        <tr>
                                                            <th>ID</th>
                                                            <th>Firstname</th>
                                                            <th>Lastname</th>
                                                            <th>Age</th>
                                                            <th>Email</th>
                                                            <th>Username</th>
                                                            <th>Role</th>
                                                            <th>Edit</th>
                                                            <th>Delete</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody id="tbodyAllUserTable">
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane fade show" id="newUser">
                                        <div class="card">
                                            <div class="card-header">
                                                <h4 class="card-title br-light">Add new user</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="text-center container">
                                                    <form style="width:390px; margin: auto" id="formNewUser" name="formNewUser">
                                                        <label for="newUserFirstName"><b>First name</b></label>
                                                        <input type="text"
                                                               class="form-control"
                                                               name="firstName"
                                                               id="newUserFirstName"
                                                               placeholder="First name">
                                                        <br/>

                                                        <label for="newLastname"><b>Last name</b></label>
                                                        <input type="text"
                                                               class="form-control"
                                                               name="lastName"
                                                               id="newLastName"
                                                               placeholder="Last name">
                                                        <br/>

                                                        <label for="newAge"><b>Age</b></label>
                                                        <input type="text"
                                                               class="form-control"
                                                               id="newAge"
                                                               name="age"
                                                               placeholder="Age">
                                                        <br/>

                                                        <label for="newEmail"><b>Email</b></label>
                                                        <input type="text"
                                                               class="form-control"
                                                               id="newEmail"
                                                               name="email"
                                                               placeholder="Email">
                                                        <br/>

                                                        <label for="newUserPassword"><b>Password</b></label>
                                                        <input type="text"
                                                               class="form-control"
                                                               id="newUserPassword"
                                                               name="password"
                                                               placeholder="Password">
                                                        <br/>

                                                        <label for="newUsername"><b>Username</b></label>
                                                        <input type="text"
                                                               class="form-control"
                                                               id="newUsername"
                                                               name="username"
                                                               placeholder="Username">
                                                        <br/>

                                                        <div class="form-group">
                                                            <label for="newRoles"><b>Roles</b></label>
                                                            <select class="custom-select"
                                                                    name="roles"
                                                                    id="newRoles"
                                                                    multiple="multiple"
                                                                    size="2">
                                                            </select>
                                                        </div>

                                                        <input type="submit" class="btn btn-success" value="Add new user">

                                                    </form>
                                                </div>
                                                <br/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="userPanel">
                    <div class="col-sm-12 p-3">
                        <h1>User information page</h1>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <h4 class="card-title br-light">About user</h4>
                        </div>
                        <div class="card-body tab-content table-striped table-responsive">
                            <tr>
                                <td>
                                    <form>
                                        <table class="table table-striped table-header table-hover bg-white" th:cols="9">
                                            <thead class="thead align-content-center">
                                            <tr class="b">
                                                <th>ID</th>
                                                <th>Firstname</th>
                                                <th>Lastname</th>
                                                <th>Age</th>
                                                <th>Email</th>
                                                <th>Username</th>
                                                <th>Role</th>

                                            </tr>
                                            </thead>
                                            <tbody id="userPanelBody">
                                            </tbody>
                                        </table>
                                    </form>
                                </td>
                            </tr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="edit" tabindex="-1" role="dialog"
     aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="formEditUser">
                <div class="modal-header">
                    <h5 class="modal-title">Edit user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <div class="form-group required">
                        <div class="controls">
                            <p>
                                <label for="idEditUser"><strong>ID</strong>
                                    <input class="form-control" type="number" name="id" id="idEditUser" disabled/>
                                </label>
                            </p>
                            <p>
                                <label for="firstNameEditUser"><strong>First name</strong>
                                    <input class="form-control" type="text" name="firstName" id="firstNameEditUser" />
                                </label>
                            </p>
                            <p>
                                <label for="lastNameEditUser"><strong>Last name</strong>
                                    <input class="form-control" type="text" name="lastName" id="lastNameEditUser" />
                                </label>
                            </p>
                            <p>
                                <label for="ageEditUser"><strong>Age</strong>
                                    <input class="form-control" type="text" name="age" id="ageEditUser" />
                                </label>
                            </p>
                            <p>
                                <label for="emailEditUser"><strong>Email</strong>
                                    <input class="form-control" type="text" name="email" id="emailEditUser" />
                                </label>
                            </p>
                            <p>
                                <label for="userNameEditUser"><strong>Email</strong>
                                    <input class="form-control" type="text" name="username" id="userNameEditUser" />
                                </label>
                            </p>
                            <p>
                                <label for="passwordEditUser"><strong>Password</strong>
                                    <input class="form-control" type="password" name="password" id="passwordEditUser" required/>
                                </label>
                            </p>
                            <label class="container-fluid col-6" for="rolesEditUser"><strong>Role</strong>
                                <select class="form-control" id="rolesEditUser" name="roles" multiple size="2">
                                </select>
                            </label>
                            <h1></h1>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="editFormCloseButton" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">Edit</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="delete" tabindex="-1" role="dialog"
     aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="formDeleteUser">
                <div class="modal-header">
                    <h5 class="modal-title">Delete user</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body text-center">
                    <div class="form-group required">
                        <div class="controls">
                            <p>
                                <label for="idDeleteUser"><strong>ID</strong>
                                    <input class="form-control" type="number" name="id" id="idDeleteUser" disabled>
                                </label>
                            </p>
                            <p>
                                <label for="firstNameDeleteUser"><strong>First name</strong>
                                    <input class="form-control" type="text" name="firstName" id="firstNameDeleteUser" disabled>
                                </label>
                            </p>
                            <p>
                                <label for="lastNameDeleteUser"><strong>First name</strong>
                                    <input class="form-control" type="text" name="lastName" id="lastNameDeleteUser" disabled>
                                </label>
                            </p>
                            <p>
                                <label for="ageDeleteUser"><strong>First name</strong>
                                    <input class="form-control" type="text" name="age" id="ageDeleteUser" disabled>
                                </label>
                            </p>
                            <p>
                                <label for="emailDeleteUser"><strong>First name</strong>
                                    <input class="form-control" type="text" name="email" id="emailDeleteUser" disabled>
                                </label>
                            </p>
                            <p>
                                <label for="passwordDeleteUser"><strong>Password</strong>
                                    <input class="form-control" type="password" name="password" id="passwordDeleteUser" disabled>
                                </label>
                            </p>

                            <label class="container-fluid col-6" for="rolesDeleteUser"><strong>Role</strong>
                                <select class="form-control"
                                        id="rolesDeleteUser"
                                        name="roles"
                                        multiple
                                        size="2"
                                        disabled>

                                </select>
                            </label>
                            <h1></h1>
                        </div>
                        <div class="modal-footer">
                            <button type="button" id="deleteFormCloseButton" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-danger btn btn-primary">Delete</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
        integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
        crossorigin="anonymous"></script>

<script type="text/javascript" src="AddUser.js"></script>
<script type="text/javascript" src="AllUsers.js"></script>
<script type="text/javascript" src="DeleteModal.js"></script>
<script type="text/javascript" src="DeleteUser.js"></script>
<script type="text/javascript" src="EditModal.js"></script>
<script type="text/javascript" src="EditUser.js"></script>
<script type="text/javascript" src="UserPage.js"></script>
</body>
</html>

